<ActionBar title="NativeFlix"></ActionBar>
<button text="Tap me!" (tap)="onTap($event)"></button>
<!-- <BarcodeScanner
      class="scanner-round"
      formats="QR_CODE, EAN_13"
      beepOnScan="true"
      reportDuplicates="true"
      preferFrontCamera="false"

      (scanResult)="onScanResult($event)">
</BarcodeScanner> -->
<!-- <ListView
    height="100%"
    separatorColor="transparent"
    [items]="flicks"
    (itemTap)="onFlickTap($event)">
    <ng-template let-item="item">

        <GridLayout
            height="280"
            borderRadius="10"
            class="bg-secondary"
            rows="*, auto, auto"
            columns="*"
            margin="5 10"
            padding="0">
          <Image
            row="0"
            margin="0"
            stretch="aspectFill"
            [src]="item.image"></Image>
          <Label
            row="1"
            margin="10 10 0 10"
            fontWeight="700"
            class="text-primary"
            fontSize="18"
            [text]="item.title"></Label>
          <Label
            row="2"
            margin="0 10 10 10"
            class="text-secondary"
            fontSize="14"
            textWrap="true"
            [text]="item.description"></Label>
        </GridLayout>
      </ng-template>

</ListView> -->
